.confirm-dialog-button {
  display: inline;

  .modal-dialog-wrapper div{
    display: inline;
  }
}

.confirm-dialog {

  .button-bar {
    padding-top: 0.5em;

    .confirm-button {
      float: right;
    }
    .cancel-button {
      float: left;
    }
  }

}

//override default ember-modal-dialog defaults because footer div looks ugly otherwise
.ember-modal-dialog.ember-view{
  padding: 0;

  .dialog-header{
    padding: 0.5em;
  }

  .dialog-text{
    margin: 0.5em;
  }
}
