<div class="container-fluid">

    <h3>Confirm dialog with default settings</h3>

  {{#confirm-dialog}}
      <button {{action 'confirmedAction'}}>Click me!</button>
  {{/confirm-dialog}}

    <h3>Confirm dialog with custom texts and all the callbacks</h3>

    <p class="help-block">Custom callbacks for confirm and cancel buttons</p>

  {{#confirm-dialog
  text="Do you want to destry the world?"
  confirmButton="Yeah, do it!"
  cancelButton="Noooooo!!!!!"
  confirmAction=(action 'confirmDestroy')
  cancelAction=(action 'cancelDestroy')
  }}
      <button {{action 'destroyWorld'}}>DESTROY THE WORLD !</button>
  {{/confirm-dialog}}

    <h3>Confirm dialog with Bootstrap (CSS classes for confirm/cancel buttons) and button icons (FontAwesome or any other font icon)</h3>

  {{#confirm-dialog
  confirmButtonClass="btn btn-success"
  cancelButtonClass="btn btn-danger"
  okCssIcon="fa fa-check-circle-o"
  cancelCssIcon="fa fa-ban"
  }}
      <button {{action 'confirmedAction'}}>Click me!</button>
  {{/confirm-dialog}}

    <h3>Confirm dialog with title and custom CSS classes</h3>

  {{#confirm-dialog
  dialogClass="custom-confirm-dialog"
  title="This is a title"
  text="And this is a content"
  }}
      <button {{action 'confirmedAction'}}>Click me!</button>
  {{/confirm-dialog}}

    <h3>BONUS: Confirm dialog for ordinary input</h3>

  {{#confirm-dialog
  title="Hello input"
  text="Are you sure you want to use this input?"
  }}
      <input>
  {{/confirm-dialog}}
</div>